@{
    ViewData["Title"] = "Members List";
}
<h1>@ViewData["Title"]</h1>

<p>Members List.</p>
<div class="">
    <div class="d-flex justify-content-end">
        <a class="btn btn-primary">Add Members</a>
    </div>
    <form class="d-flex mt-4" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-primary" type="submit">Search</button>
    </form>

    <table class="table mt-4">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">FullName</th>
                <th scope="col">Email</th>
                <th scope="col">Phone</th>
                <th scope="col">Birthdate</th>
                <th scope="col">isActive</th>
                <th scope="col">DateJoined</th>
                <th scope="col" class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>mark@gmail.com</td>
                <td>123</td>
                <td>Jan 11</td>
                <td>true</td>
                <td>06/10/25</td>
                <td class="d-flex justify-content-evenly">
                    <i class="bi bi-pencil-square"></i>
                    <i class="bi bi-trash3"></i>
                </td>

            </tr>

        </tbody>
    </table>
</div>
