@{
    ViewData["Title"] = "Login";
}

@model appdev_final_req.Models.LoginViewModel

<h1>@ViewData["Title"]</h1>

<form asp-action="Login" method="post">
    <div class="mt-3">
        <label class="form-label">Username</label>
        <input class="form-control" asp-for="Username" required/>
    </div>
    <div class="mt-3">
        <label class="form-label">Password</label>
        <input class="form-control" asp-for="Password" type="password" required />
    </div>
    <div class="mt-3">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
    <div class="mt-3">
        <p> Don't have an account? <a asp-controller="Users" asp-action="Register">Register.</a></p>
    </div>

</form>
<!-- Modal popup when login fail -->
<div class="modal fade" id="loginErrorModal" tabindex="-1" aria-labelledby="loginErrorModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-danger text-white">
                <h5 class="modal-title" id="loginErrorModalLabel">Login Failed</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @ViewData["LoginError"]
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var errorExists = `@ViewData["LoginError"]` !== ``;
            if (errorExists) {
                var myModal = new bootstrap.Modal(document.getElementById('loginErrorModal'));
                myModal.show();
            }
        });
    </script>
}
