<div class="text-center">
    <h1 class="display-4">ATTENDANCE MO 'TO</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core!!</a>.</p>
    <p>Impeach Sara Now</p>
    <form asp-controller="Users" asp-action="Logout" method="post" class="text-center">
        @Html.AntiForgeryToken()
        <button type="submit" class="btn btn-link nav-link" style="border: none; padding: 0; background: none;">Logout</button>
    </form>
</div>